{
  "androidPackage": "com.eggshell.apptodo",
  "androidActivity": "com.eggshell.apptodo.MainActivity",
  "iosBundleId": "com.eggshell.apptodo",
  "defaultAndroidAvd": "Medium_Phone_API_35",
  "defaultIosSimulator": "iPhone 16",
  "defaultAndroidUdid": null,
  "deviceOrientation": "portrait"
}
